body{
    color: #000000;
}
body.voyager {
    overflow-x: hidden;
}
.form-control,
.panel-body .select2-selection {
    border: 1px solid #9e9e9e7a;
}
div.mce-panel{
    border-color: #9e9e9e7a;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    vertical-align: middle;
    border-radius: 3px;
    background: #dadada;
    cursor: pointer;
    outline: 0;
    margin-right: 10px;
}
input[type=checkbox]:focus{
 outline: 0;
}

input[type=checkbox] + *{
   vertical-align: middle;
}

input[type=checkbox]:checked:before {
    width: 17px;
    height: 7px;
    content: "";
    display: block;
    position: absolute;
    border-left: 4px solid #cf3339;
    border-bottom: 4px solid #cf3339;
    transform: rotate(-45deg);
    margin: 2px 0 0 5px;
}

.daterangepicker .drp-buttons .btn.cancelBtn{
    background: red;
}

.btn.btn-restore{
    background-color: #2c343c;
    color: #FFF;
    border-color: #2c343b;
}
.form-control {
    color: #505050
}

.restore{
    margin-left: 5px;
}

/*Validate*/
.form-control.error{
    border-color: #f96868;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
label.dup-error,label.error{
    color:#f96868;
    margin-top: 7px;
    margin-bottom: 8px;
}
.red{
    color: red;
}

/**/
body.voyager .side-menu .navbar-header{
    background: #000;
    border-color: #000;
}
.app-container .content-container .side-menu .navbar-header .navbar-brand img {
    width: 48px;
    height: 48px;
}

img.img-card{
    width: 50px;
}

img.img-layout{
    width: 130px;
}
.select2-container--default .select2-results > #select2-layout-results {
    max-height: 600px;
    min-height: 200px;
    overflow-y: auto;
}

button.kv-file-zoom.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary {
    background: #2c343b;
}

button.kv-file-remove.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary{
    background: red;
}
a.kv-file-download.btn.btn-sm.btn-kv.btn-default.btn-outline-secondary {
    background: green;
}

.file-zoom-dialog.in.show{
    background: rgba(0,0,0,0.3);
}

.voyager .btn-kv.btn.btn-default{
    background: #d6d6d6;
}

.form-sec-title {
    margin-top: 30px;
    margin-bottom: 0px;
    color: #111111;
    text-align: center;
}
.form-sec-divider {
    margin: 20px 0px;
    border-top: 1px dashed #555555;
    display: block;
}
.brows-state{
    text-align: right;
    padding: 15px 10px;
}

/*zun Dashboard*/
.dashboard {
    margin-top:20px;
}
.dashboard .panel-custom {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.dashboard .panel-primary-custom {
    border-color: #337ab7;
}
.dashboard .panel-green-custom {
    border-color: #da1021;
}
.dashboard .panel-primary-custom >.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
.dashboard .panel-green-custom > .panel-heading {
    border-color: #da1021;
    color: white;
    background-color: #da1021;
}
.dashboard .panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.dashboard .huge {
    font-size: 40px;
    font-weight: 500;
}
.dashboard .fa-5x {
    font-size: 5em;
}
.dashboard .panel-body-page {
    padding: 15px;
}
.dashboard .child-count-list,.dashboard .panel-heading .logo-col{
    margin-bottom: 0px;
}
.dashboard .panel-heading h3{
    margin: 4px 0px;
    font-size: 20px;
}

#table-dashboard-report th, #table-dashboard-report tfoot td, #table-dashboard-report td{
    padding-left: 0;
    padding-right: 0;
    vertical-align: middle;
    text-align: center;
}
#table-dashboard-report-info th {
    padding-left: 30px;
    vertical-align: middle;
    text-align: left;
}
#table-dashboard-report-info td {
    vertical-align: middle;
    text-align: center;
}

form#filter-leads .form-group{
	max-height: 60px;
}

form#filter-leads .form-group span.select2-container{
	width: 100% !important;
}
body.voyager.users  .select2-results ul[id^="select2-role_id-"]>li:nth-child(2),body.voyager.users .panel-body>.form-group:nth-child(5){
    display: none;
}