.errorpage404 {
    width: 100%;
    height: calc(100vh - 66px);
    background: url(../img/bg-404error.jpg) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tb {
    display: table;
    width: 100%;
    height: 100%;
}

.tbcell {
    display: table-cell;
}

.v-middle {
    vertical-align: middle;
}
.errorpage404 .area-content {
    width: 100%;
    direction: ltr;
    unicode-bidi: bidi-override;
    max-width: 900px;
    margin: 0 auto;
    padding:30px 0px;
}
.errorpage404 .area-content h1 {
    font-size: 100px;
    color: #ce0037;
    line-height: 1;
}
.errorpage404 .area-content h2 {
    margin: 10px 0;
    font-size: 30px;
    color: #ce0037;
    line-height: 1.3;
}
.errorpage404 .area-content h4 {
    margin: 20px 0 40px;
    font-size: 16px;
    font-family: 'sukhumvittadmai_med';
    line-height: 1.5;
}
.errorpage404 .area-content-txt,
.errorpage404 .area-content-img {
    display: inline-block;
    vertical-align: middle;
}
.errorpage404 .area-content-txt {
    width: 60%;
}

.errorpage404 .area-content-img {
    /* width: calc(40% - 1%); */
    text-align: center;
    float: left;
}
.errorpage404 span.br {
    display: block;
}


@media (max-width: 767.98px) { 
    
    .errorpage404 .area-content { text-align: center;}
    .errorpage404 .area-content-img { display: block; margin: 0 auto 20px;}
    .errorpage404 .area-content h1 { font-size: 60px; margin: 20px 0 15px;}
    .errorpage404 span.br {
        display: inline-block;
    }
}

@media (max-width: 576px) {
    .errorpage404 {
     height: calc(100vh - 45px);
    }
}

